body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 50px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}